{% extends 'appinvent/base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="px-4 py-5 bg-light rounded">
        <h2 class="mb-3 text-center">New Arrivals</h2>
        <div class="container-fluid">
            <div class="row row-cols-6 gap-3">
                {% for item in items %}
                    <div class="col card mb-3" style="width: 18rem;">
                        <a href="{% url 'items:detail' item.id %}" class="text-decoration-none">
                            <div>
                                <img src="{{ item.image.url }}" class="card-img-top mt-3" alt="{{ item.name }}">
                            </div>
                            <div class="card-body text-center text-dark">
                                <h5 class="card-title">{{ item.name }}</h5>
                                <p class="card-text m-0"><strong>Price:</strong> ₹{{ item.price }}</p>
                                <p class="card-text"><small class="text-muted">Category: {{ item.category.name }}</small></p>
                                <!-- <a href="#" class="btn btn-primary">View Details</a> -->
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>             
        </div>
    </div>
    <div class="px-4 py-5 bg-light rounded">
        <h2 class="mb-3 text-center">Categories</h2>
        <div class="container-fluid">
            <div class="row row-cols-6 gap-3">
                {% for category in categories %}
                    <div class="col card mb-3" style="width: 18rem;">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ category.name }}</h5>
                            <p class="">{{ category.item_set.count }} items</p>
                        </div>
                    </div>
                {% endfor %}
            </div>             
        </div>
    </div>
{% endblock %}
