{% extends 'appinvent/base.html' %}
{% block title %}{{ item.name }}{% endblock %}

{% block content %}
    <div class="px-4 py-5 rounded">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ item.image.url }}" class="img-fluid rounded-3" style="height: 350px; object-fit: cover;" alt="{{ item.name }}">
                </div>
                <div class="col-md-6">
                    <h2>{{ item.name }}</h2>
                    <p><strong>Price:</strong> ₹{{ item.price }}</p>
                    <p><strong>Category:</strong> {{ item.category.name }}</p>
                    <p><strong>Description:</strong> {{ item.description }}</p>

                    {% if request.user == item.created_by %}
                        <div class="mt-3 p-3 rounded">
                            <a href="{% url 'items:edit' item.id %}" class="btn btn-outline-success mt-3">Edit</a>
                            <a href="{% url 'items:delete' item.id %}" class="btn btn-outline-danger mt-3">Delete</a>
                        </div>
                    {% else %}
                        <a href="#" class="btn btn-secondary">Add to Cart</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="px-4 py-2 mx-2 rounded">
        <h2 class="mb-3 text-center">Related Items</h2>
        <div class="container-fluid">
            <div class="row row-cols-6 gap-3">
                {% for item in related_items %}
                    <div class="col card mb-3" style="width: 18rem;">
                        <a href="{% url 'items:detail' item.id %}" class="text-decoration-none">
                            <div>
                                <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}">
                            </div>
                            <div class="card-body text-center text-dark">
                                <h5 class="card-title">{{ item.name }}</h5>
                                <p class="card-text m-0"><strong>Price:</strong> ₹{{ item.price }}</p>
                                <p class="card-text"><small class="text-muted">Category: {{ item.category.name }}</small></p>
                                <!-- <a href="#" class="btn btn-primary">View Details</a> -->
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>             
        </div>
    </div>
{% endblock %}